//白天
$base-body-bg:#fff;
$base-font-color:#5b5b5b;
$base-line-color:#5b5b5b;
$base-search-height:46px;
$base-box-bg:#fff;
$base-button-active:#f3f3f3;

//夜晚
$dark-body-bg:#00071d;
$dark-font-color:#fff;
$dark-line-color:#5b5b5b;
$dark-box-bg:#131c31;
$dark-button-active:#1d2a48;

//移动端
$phone-search-height: 2.8rem;