@charset "UTF-8";
:root {
  font-size: -webkit-calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
  font-size: -moz-calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/*
    夜晚样式
*/
body.dark {
  background-color: #00071d;
  color: #fff;
}

.dark .sidebar-themeContainer .sidebar-themeLabel {
  background-color: #131c31;
}

.dark .sidebar-themeContainer .sidebar-themeLabel::before {
  background-color: #00071d;
  left: 50%;
}

.dark .content,
.dark .sugBox {
  background-color: #131c31;
  border-color: #5b5b5b;
}

.dark .sugBox .sug.select {
  background-color: #00071d;
}

.dark .engine-select:hover {
  background-color: #1d2a48;
}

.dark div.engine-select-box {
  background-color: #131c31;
}

.dark #search:hover {
  background-color: #1d2a48;
}

/*
    白天样式
*/
body {
  background-color: #fff;
  color: #5b5b5b;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar-themeContainer {
  width: 180px;
  height: 60px;
  background-color: #0000;
  border-radius: 6px;
  position: absolute;
  top: 16px;
  right: 32px;
  padding: 5px;
  line-height: 50px;
}

.sidebar-themeContainer .sidebar-themeLabel {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 6px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
}

.sidebar-themeContainer .sidebar-themeLabel::before {
  content: "";
  position: absolute;
  z-index: 0;
  display: inline-block;
  width: -webkit-calc(50% - 2px);
  width: -moz-calc(50% - 2px);
  width: calc(50% - 2px);
  height: -webkit-calc(100% - 5px);
  height: -moz-calc(100% - 5px);
  height: calc(100% - 5px);
  border-radius: 6px;
  background-color: #fff;
  left: 2px;
  top: 50%;
  -webkit-transform: translatey(-50%);
     -moz-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
       -o-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.sidebar-themeContainer .sidebar-themeInput {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.sidebar-themeContainer .sidebar-themeType {
  z-index: 10;
  cursor: pointer;
}

.sidebar-themeContainer .sidebar-listIcon {
  float: left;
  margin: 12px 5px;
}

#search,
.engine-select,
.header-detail,
.engine-item,
.sidebar-themeContainer {
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  font-family: monospace;
  color: inherit;
}

.search-box {
  width: 900px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.content {
  background-color: #fff;
  border-radius: 60px;
}

.header {
  margin-bottom: 20px;
}

.header .header-detail {
  font-size: 32px;
}

.content {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 84%;
  margin: 0 auto;
  height: 46px;
}

.engine-select {
  border: 1px solid #5b5b5b;
  border-right: 0;
  border-radius: 60px 0 0 60px;
  background-color: inherit;
  padding: 0 24px;
  line-height: 46px;
  cursor: pointer;
}

.engine-select:hover {
  background-color: #f3f3f3;
}

div.engine-select-box {
  width: 300px;
  height: 60px;
  border: 1px solid #5b5b5b;
  border-radius: 12px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

div.engine-select-box .engine-select-content {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 60px;
  height: 100%;
}

div.engine-select-box .engine-item {
  margin: 0 10px;
  cursor: pointer;
}

div.engine-select-box.active {
  display: block;
}

.input {
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.input #input-content {
  width: 100%;
  height: 100%;
  border: 1px solid #5b5b5b;
  border-radius: 0;
  padding: 0px 14px;
  font-size: 14px;
  color: inherit;
  background-color: inherit;
}

.input #input-content:focus {
  outline: 0;
}

.sugBox {
  display: none;
  height: 300px;
  overflow: hidden;
  border: 1px solid #5b5b5b;
  border-top: none;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  background-color: 46px;
}

.sugBox .sugs {
  height: -webkit-calc(100% + 20px);
  height: -moz-calc(100% + 20px);
  height: calc(100% + 20px);
  overflow: scroll;
  width: -webkit-calc(100% + 20px);
  width: -moz-calc(100% + 20px);
  width: calc(100% + 20px);
}

.sugBox .sug {
  list-style: none;
  position: relative;
  padding: 4px 14px;
  font-size: 16px;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
}

.sugBox .sug::after {
  content: '';
  width: 96%;
  height: 1px;
  position: absolute;
  top: 101%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #5b5b5b;
}

.sugBox .sug.select {
  background-color: #f3f3f3;
}

.sugBox.active {
  display: block;
}

#search {
  border: 1px solid #5b5b5b;
  border-left: 0;
  padding: 0px 24px 0;
  border-radius: 0px 60px 60px 0px;
  background-color: inherit;
  cursor: pointer;
}

#search:hover {
  background-color: #f3f3f3;
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 800px) {
  #search,
  .engine-select,
  .engine-item,
  .sidebar-themeContainer {
    font-size: 0.8rem;
  }
  .header .header-detail {
    font-size: 1.6rem;
  }
  .search-box {
    width: 90%;
    top: 42%;
  }
  .content {
    width: 100%;
    height: 2.8rem;
  }
  .engine-select {
    padding: 0 1rem;
    line-height: 2.8rem;
  }
  #search {
    padding: 0px 1rem;
  }
  .input #input-content {
    font-size: 0.7rem;
    padding: 0px 0.7rem;
  }
  .sugBox {
    height: 10rem;
  }
  .sugBox .sugs {
    height: -webkit-calc(100% + 0.9rem);
    height: -moz-calc(100% + 0.9rem);
    height: calc(100% + 0.9rem);
    width: -webkit-calc(100% + 1rem);
    width: -moz-calc(100% + 1rem);
    width: calc(100% + 1rem);
  }
  .sugBox .sug {
    padding: 0.2rem 0.7rem;
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
  div.engine-select-box {
    top: 60%;
  }
  .sidebar-themeContainer {
    width: 7rem;
    height: 3rem;
    font-size: 0.6rem;
    top: 1rem;
    right: 1rem;
    line-height: 3rem;
  }
  .sidebar-themeContainer .sidebar-themeInputText {
    display: none;
  }
  .sidebar-themeContainer .sidebar-listIcon {
    float: left;
    margin: 0.5rem 1rem;
  }
}
